@{
    ViewBag.Title = "Home Page";
}

<!--body-->
<!--banner-->
<div class="banner">
    <div class="banner-title">
        <div class="container">
            <div class="banner-text">
                <h2>Online zu Ihrem Wunschkredit</h2>
                <p>Kreditbeträge bis zu 100.000 Euro  Kostenlose Sondertilgungen bis 100 %  Schnelle Kreditentscheidung</p>
                <a class="more scroll" href="#about">Berechnen</a>
            </div>
        </div>
    </div>
</div>
<!--//banner-->

<h1>Hallo Welt !! </h1>

<!--//body-->